<p>detail works!</p>
<!-- <button (click)="get()">test</button><br /> -->
<a routerLink="/list">List</a>

<div *ngIf="isLoading">載入中......</div>

<div *ngIf="!isLoading">
    <button (click)="back()">back</button>
    <button (click)="goToEdit()">Edit</button>
    <div [ngSwitch]="page">
        <div *ngSwitchCase="'area'">
            <div>
                <h2>區域 detail</h2>
                <li>id : {{currentDetail()?.id}}</li>
                <li>name : {{currentDetail()?.name}}</li>
                <h3>出沒龍種</h3>
                <div *ngFor="let toDragon of (currentDetail()?._toDragonMap | mapToArray) ">
                    <li>
                        <button (click)="goToDetail('dragon', toDragon._dragon.id)">詳</button>
                        {{toDragon?._dragon?.name}}
                    </li>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'property'">
            <h2>屬性 detail</h2>
            <li>id : {{currentDetail()?.id}}</li>
            <li>name : {{currentDetail()?.name}}</li>
            <h3>相關龍種</h3>
            <div *ngFor="let toDragon of (currentDetail()?._toDragonMap | mapToArray) ">
                <li>
                    <button (click)="goToDetail('dragon', toDragon._dragon.id)">詳</button>
                    <label *ngIf="toDragon.isWeek" style="color: blue;">弱屬</label>
                    <label *ngIf="!toDragon.isWeek" style="color: red;">攻屬</label>
                    {{toDragon?._dragon?.name}}
                </li>
            </div>
        </div>
        <div *ngSwitchCase="'dragon'">
            <h2>龍 detail</h2>
            <li>id : {{currentDetail()?.id}}</li>
            <li>name : {{currentDetail()?.name}}</li>
            <h3>相關屬性</h3>
            <div *ngFor="let toProperty of (currentDetail()?._toPropertyMap | mapToArray) ">
                <li>
                    <button (click)="goToDetail('property', toProperty._property.id)">詳</button>
                    <label *ngIf="toProperty.isWeek" style="color: blue;">弱屬</label>
                    <label *ngIf="!toProperty.isWeek" style="color: red;">攻屬</label>
                    {{toProperty?._property?.name}}
                </li>
            </div>
            <h3>出沒地帶</h3>
            <div *ngFor="let toArea of (currentDetail()?._toAreaMap | mapToArray) ">
                <li>
                    <button (click)="goToDetail('area', toArea._area.id)">詳</button>
                    {{toArea._area.name}}
                </li>
            </div>
            <h3>可製作武器</h3>
            <div *ngFor="let weapenName of currentDetail()?._equipageBase?.weaponTypeList">
                <li>
                    {{weapenName}}
                </li>
            </div>
        </div>
        <div *ngSwitchDefault>
            <p>This is the default case.</p>
        </div>
    </div>

</div>